DAL_PORT=
DAL_AUTH_TOKEN=

# PostgreSQL connection
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# Optional: pool sizes
POSTGRES_POOL_MIN_SIZE=
POSTGRES_POOL_MAX_SIZE=

